.dialog-main {
    background-color: rgb(43, 42, 42);
    color: whitesmoke;
    width: 35vw;

}

.hola {
    color: white;
    border-radius: 5px;
}

.searched_option {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.searched_right {
    display: grid;
    margin-left: 100px;
    width: 50%;
}

.searched_right>input {
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    background-color: black;
}